<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wf.dao.mabaties.mappers.UserMapper">

<!-- 注册 -->
	<insert id="create">
  	insert into power_reg(id,user_name, mail, phone, encode,password) 
  	  values(power_reg_seq.nextval,#{userName}, #{mail}, #{phone},#{encode},#{password})
  </insert>
  <!--根据用户名查询是否存在  -->
  <select id="findReg" resultType="com.wf.entity.Reg">
  	select id,user_name, mail, phone,encode from power_reg where user_name=#{userName}
  </select>
  
  <select id="findSearch1" resultType="com.wf.entity.Login">
  	select id,user_name,encode from power_reg where user_name=#{userName}
  </select>
 
</mapper>