<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wf.dao.mabaties.mappers.UserMapper">

<!-- 注册 -->
	<insert id="create">
  	insert into power_reg(id,user_name, mail, phone, encode,password) 
  	  values(power_reg_seq.nextval,#{userName}, #{mail}, #{phone},#{encode},#{password})
  </insert>
  <!--根据用户名查询是否存在  -->
  <select id="findReg" resultType="com.wf.entity.Reg">
  	select id,user_name, mail, phone,encode from power_reg where user_name=#{userName}
  </select>
  
  <select id="findSearch1" resultType="com.wf.entity.Login">
  	select id,user_name,encode from power_reg where user_name=#{userName}
  </select>
  
  <select id="findSearch2" resultType="com.wf.entity.Vip">
  	select id,relname,sex,idencity,mail,infor from power_reg where id=#{id}
  </select>
  
 <!--  vip插入数据  -->
  <insert id="creatVip">
  		update power_reg set relname=#{relname},sex=#{sex},idencity=#{idencity},infor=#{infor} where id=#{id}
  </insert>
  
   
	
	<!-- 修改地址 -->
	<update id="updateAddress">
		update power_address set aphone=#{aphone},arelname=#{arelname},postCode=#{postCode},area=#{area},province=#{province},city=#{city},address=#{address} where id=#{id}
	</update>  
	<!-- 添加地址  外键关联  -->
  <insert id="creatAddress">
  		insert into power_address(id,postCode,area,province,city,address,arelname,aphone,reg_id)
  		values(power_address_seq.nextval,#{postCode},#{area},#{province},#{city},#{address},#{arelname},#{aphone},#{login.id}) 
  </insert> 
  
 
  <!-- 显示地址 -->
  <select id="findAddress" resultType="com.wf.entity.Address">
  	select id,arelname,aphone,postCode,area,province,city,address from power_address where power_address.reg_id=#{id}
  </select>
  
   <!-- 根据id查询 -->
  <select id="findOne" resultType="com.wf.entity.Address">
  select id,arelname,aphone,postCode,area,province,city,address from power_address where id=#{id}
  </select>
  
  
  <!-- 修改密码 -->
  <update id="changePwd">
  	update power_reg set encode = #{pwd1} where id=#{id}
  </update>
  
  
  <!--查省，市，区做集合 -->
  <select id="findprovinces" resultType="com.wf.entity.Address">
	  select * from power_address
  </select>
  
  
</mapper>